// Nuevo header

// header

// Aquí comienza el HTML


header.header {
    nav.navbar.navbar-expand-sm.fondo-menu {
        background-color: $fondo-color;
        .navbar-toggler {
            &.collapsed {
                .navbar-toggler-icon {
                    display: none;
                }
            }
        }

        .navbar-brand {
            img.img_logo {
                width: 100px;
                height: 80px;
                border-radius: 5px;
                margin-left: 60px;
                transition: all .3s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .navbar-collapse#opciones {
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0.navbar_style {
                .nav-item {
                    a.nav-link.color {
                        color: white;
                        &.active,
                        &:hover,
                        &:focus {
                            color: white;
                            background-color: $fondo-pagina;
                        }
                    }

                    &.dropdown {
                        .dropdown-toggle.color {
                            &:hover,
                            &:focus {
                                color: white;
                            }
                        }

                        .dropdown-menu {
                            a.dropdown-item {
                                &:hover,
                                &:focus {
                                    color: white;
                                    background-color: $fondo-pagina;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}