$fondo-color:#810748;
$fondo-pagina:#ee8cd0;
$fondo-color: #810748;
$link-color: rgb(235, 234, 238);
$borde-rosa: #c485b6;
$color-fondo-card: rgb(224, 165, 224);
$imagen-fondo: url("../FOTOS/fondone3.jpg");